/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/
header,footer{
     height: 100px;
     border: 2px solid black;
     clear: both;
}
section{
     width: 100%;
     height: 300px;
     border: 2px solid black;
     float: left;
}
section + section{
     width: 40%;
}
section + section + section{
     width: 60%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
