/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header, footer {
  height: 100px;
  border: 2px solid black;
  clear: both;
}
section{
  height: 200px;
  width: 33.3333%;
  border: 2px solid black;
  float: left;
}
.bottom{
  width: 50%;
}

@media screen and (max-width: 700px) {
    section {
        background: blue;
    }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
