/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header, footer {
     height: 100px;
     border: 2px solid black;
     clear: both;
}
section{
     height: 300px;
     width: 33.3333%;
     float: left;
     border: 2px solid black;
}
.bigBottom{
     width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 800px) {
     section {
         background: blue;
     }
 }