.App {
  width: 100vw;
  height: 100vs;
  background: #f5f5f5
}

.heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  min-height: 300px;
  padding: 10px
}

.task_container {
  margin: 10px;
  cursor: pointer;
}

.task {
  flex-grow: 1;
  margin-left: 10px;
}