<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

	<title>Blog</title>
</head>
<body>
	<div class="container">
		<h1 class="mb-4">Blog Articles</h1>
		<a href="/articles/new" class="btn btn-success">New Article</a>

		<% articles.forEach(article => { %>
			<div class="card mt-4">
				<div class="card-body">
					<h4 class="card-title"><%= article.title %></h4>
					<div class="card-subtitle text-muted sb-2">
						<%= article.createdAt.toLocaleDateString() %>
					</div>
					<div class="card-text mb-2">
						<%= article.description %>
					</div>
				</div>
			</div>
		<% }) %>

	</div>
</body>
</html>