/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header,footer {
  height: 100px;
  border: 2px solid black;
  clear: both;
}
section{
  height: 300px;
  width: 20%;
  border: 2px solid black;
  float: left;
}
.thiccOne{
  width: 40%;
}
@media screen and (max-width: 600px) {
  section{
    background: green;
  }
}
@media (min-width: 601px) and (max-width: 900px){
  section{
    background: blue;
    width: 33.3333%;
  }
  .thiccOne{
    display: none;
  }
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
