/* <h1>Make this text blue, underlined, and have a gold background</h1> */
h1{
    color: blue;
    text-decoration: underline;
    background: gold;
}

/* <h2>Make this text purple, bolded, 25px, and hav an orange border </h2> */
h2{
    color: purple;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid orange;
}
/* <section>
			<p>Make this section width of 50%, height of 200px, background of gray, border of black, and the paragraph text white</p>
</section> */
section{
    width: 50%;
    height: 200px;
    background: gray;
    border: 3px solid black;
    color: white;
}

/* <footer>
    <h3>Make this footer have a black background, with light green border, and this text 20px white plus a font-family of Roboto</h3>
</footer> */
footer{
    background: black;
    border: 5px solid lightgreen;
}
footer h3{
    font-size: 20px;
    color: white;
    font-family: 'Roboto','Helvetica',sans-serif;
}