/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header, footer {
     height: 100px;
     border: 1px solid black;
}
main, .bottom{
     display: flex;
}
section{
     height: 200px;
     flex:1;
     border: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media all and (max-width: 600px) {
     section {
         background: blue;
     }
     .bottom{
          display: none;
     }
 }
@media (min-width:601px) and (max-width: 1024px){
     section{
          background: red;
     }
     
}
