/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
/* header nav > *{
  float: left;
  width: 10%;
  margin: 0 5%;
  list-style: none;
}
header nav li{
  float: left;
  width: 33%;
}
main > section{
  width: 50%;
  height: 600px;
  float: left;
}
img{
  width:50%;
}
main > section h1, main > section img{
  margin-top: 200px;
}   */
/*  */
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav,ul,main, main section:first-child{
  display: flex;
}
nav,ul, main section{
  justify-content: space-around;
}
ul{
  flex-basis: 30%;
}
img{
  width: 30%;
}